body {
  margin: 0px;
  height: 100dvh;
  min-width: 360px;
  min-height: 660px;
}


@media (max-width: 399px), (max-height: 799px) {
  body {
    transform: scale(0.85);
    -webkit-transform:scale(0.85, 0.85);
    transform-origin: top left; /* Ensure scaling starts from the top-left corner */
    width: calc(100% / 0.85);
    height: calc(100dvh / 0.85);
    overflow: hidden;
  }
}
