body {
  margin: 0px;
  height: 100dvh;
  min-width: 360px;
  min-height: 660px;
}


@media (max-width: 399px), (max-height: 799px) {
  body {
    transform: scale(0.80);
    -webkit-transform:scale(0.80, 0.80); /* iPhone 8 needs this */
    transform-origin: top left; /* Ensure scaling starts from the top-left corner */
    width: calc(100dvw / 0.80);
    height: calc(100dvh / 0.80);
    overflow: hidden;
  }
}
